.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 60px 0;
	gap: 50px;
}

.image-holder {
	position: relative;
	background-color: rgb(234, 234, 234);
	width: 300px;
	height: 300px;
	margin-top: 150px;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0, 0, .25), 0 10px 10px rgba(0,0,0, .22);
}

.wiseman {
	position: absolute;
	bottom: 0;
	left: 5px;
	width: 95%;
}

.official-intro {
	width: 80%;
	font-weight: 700;
}

.official-intro h5,
.official-intro p {
	color: grey;
	margin-bottom: 20px;
}

.official-intro h1 {
	margin-bottom: 20px;
	font-size: 2.5rem;
}

.official-intro h1 span {
	color: rgb(73, 73, 189);
}


.portfolio-section{
	background-color: var(--special);
	padding: 100px 30px;
	margin: 60px 0;
	color: white;
}

.portfolio-section > div {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	gap: 10%;
	font-size: 1.2rem;
}

.resume-intro button {
	margin: 50px 0;
}

.resume-intro {
	max-width: 600px;
}

.image-2 img {
	width: 300px;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0, 0, .25), 0 10px 10px rgba(0,0,0, .22);
}

@media only screen and (min-width: 760px) {
	.intro {
		max-width: 1000px;
		flex-direction: row-reverse;
		margin: 60px auto;
		padding: 20px 40px;
		height: 80vh;
	}
	.portfolio-section  div {
		flex-direction: row;
		/* align-items: center; */
		/* width: 40%; */
		margin: 0 auto;
		max-width: 1000px;
	}
}

@media only screen and (min-width: 2500px) {
	.official-intro {
		font-size: 1.5rem;
	}
}
