{% extends "base.html" %}
{% block title %}Wiseman Umanah | About{% endblock %}
{% block css %}<link href='{{ url_for("static", filename="styles/about.css") }}' rel='stylesheet'>{% endblock %}
{% block content %}
	<h1>Know More About Me!</h1>
	<div class="container">
		<div class="intro">
			<div class="skill">
				A dedicated Backend Engineer with a strong foundation in API development
				and database design. Having completed the ALX Software Engineering program.
				My experience in building scalable and efficient backend systems
				has equipped me to tackle complex challenges and deliver high-quality solutions.
				During my time at ALX, I handled a lot of projects to demonstrate my skills
				<a href="https://github.com/wiseman-umanah?tab=repositories&q=alx">Here</a>
			</div>
			<div class="skill">
				<h4>Programming Languages</h4>
				<li><img src='https://skillicons.dev/icons?i=html' alt="html icon">
					<span class="bar"><span class="pbar"></span></span>
				</li>
				<li><img src='https://skillicons.dev/icons?i=css' alt="css icon">
					<span class="bar"><span class="pbar"></span></span>
				</li>
				<li><img src='https://skillicons.dev/icons?i=js' alt="Javascript icon">
					<span class="bar"><span class="pbar"></span></span>
				</li>
				<li><img src='https://skillicons.dev/icons?i=python' alt="python icon">
					<span class="bar"><span class="pbar"></span></span>
				</li>
				<li><img src='https://skillicons.dev/icons?i=c' alt="c icon">
					<span class="bar"><span class="pbar"></span></span>
				</li>
			</div>
			<div class="skill">
				<h4>Database Management Systems</h4>
				<li><img src='https://skillicons.dev/icons?i=mysql' alt="mysql icon">
					<span class="bar"><span class="pbar"></span></span>
				</li>
				<li><img src='https://skillicons.dev/icons?i=postgresql' alt="postgresql icon">
					<span class="bar"><span class="pbar"></span></span>
				</li>
				<li><img src='https://skillicons.dev/icons?i=mongodb' alt="mongodb icon">
					<span class="bar"><span class="pbar"></span></span>
				</li>
			</div>
			<div class="skill">
				<h4>Frameworks</h4>
				<li><img src='https://skillicons.dev/icons?i=flask' alt="flask icon">
					<span class="bar"><span class="pbar"></span></span>
				</li>
				<li><img src='https://skillicons.dev/icons?i=nodejs' alt="nodejs icon">
					<span class="bar"><span class="pbar"></span></span>
				</li>
				<li><img src='https://skillicons.dev/icons?i=express' alt="expressjs icon">
					<span class="bar"><span class="pbar"></span></span>
				</li>
				<li><img src='https://skillicons.dev/icons?i=jquery' alt="jqeury icon">
					<span class="bar"><span class="pbar"></span></span>
				</li>
			</div>
			<div class="skill">
				<h4>Tools and Technologies</h4>
				<li><img src='https://skillicons.dev/icons?i=github' alt="github icon">
					<span class="bar"><span class="pbar"></span></span>
				</li>
				<li><img src='https://skillicons.dev/icons?i=bash' alt="bash icon">
					<span class="bar"><span class="pbar"></span></span>
				</li>
				<li><img src='https://skillicons.dev/icons?i=nginx' alt="nginx icon">
					<span class="bar"><span class="pbar"></span></span>
				</li>
				<li><img src='https://skillicons.dev/icons?i=git' alt="git icon">
					<span class="bar"><span class="pbar"></span></span>
				</li>
				<li><img src='https://skillicons.dev/icons?i=redis' alt="redis icon">
					<span class="bar"><span class="pbar"></span></span>
				</li>
				<li><h3>Puppet</h3>
					<span class="bar"><span class="pbar"></span></span>
				</li>
			</div>
		</div>

		<h4>PROJECTS</h4>
		<div class="project-timeline">
			<div class="projects left-container">
				<div class="text-box">
					<h5>JWS COLLECTIONS</h5>
					<div><span>Role: </span>Full-Stack Developer</div>
					<p>
						JWS is an e-commerce platform showcasing a wide variety of footwear. I worked on both the front and the back end development.
					</p>
					<div><span>Tech Stack: </span>Python, MySQL, Javascript, HTML/CSS</div>
				</div>
			</div>
			<div class="projects right-container">
				<div class="text-box">
					<h5>EDU CLOUD CONNECT</h5>
					<div><span>Role: </span>Backend Developer</div>
					<p>
						A web-based system for maintaining a healthy lecturer-student relationship. Lecturers can access students' academic submissions and communicate via global chat.
					</p>
					<div><span>Tech Stack: </span>Python, MySQL</div>
				</div>
			</div>
			<div class="projects left-container">
				<div class="text-box">
					<h5>Web Tic Tac Toe</h5>
					<div><span>Role: </span>Backend Engineer</div>
					<p>
						A web-based Tic-Tac-Toe game where players can either connect with another player or play against AI.
					</p>
					<div><span>Tech Stack: </span>Python</div>
				</div>
			</div>
			<div class="projects right-container">
				<div class="text-box">
					<h5>Astrics</h5>
					<div><span>Role: </span>Full-Stack Developer</div>
					<p>
						A web project providing the latest updates about space and the universe, aimed at educating users about science.  
					</p>
					<div><span>Tech Stack: </span>Python, PostgreSQL, Javascript, HTML/CSS</div>
				</div>
			</div>
		</div>
		<p>For more projects, please visit the <span><a href="https://github.com/wiseman-umanah?tab=repositories">Repositories</a></span></p>
	</div>
{% endblock %}