footer {
	height: 60px;
	display: flex;
	color: grey;
	justify-content: center;
	gap: 100px;
	align-items: center;
	position: fixed;
	border-top: 1px solid var(--special);
	z-index: 2;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
}

.footer-links {
	display: flex;
	gap: 50px;
	align-items: center;
}

.footer-links > div {
	cursor: pointer;
}

.author {
	font-size: 20px;
}

.small-icons {
	display: flex;
	gap: 50px;
	align-items: center;
}